{% extends ':easy_admin:layout.html.twig' %}
{% block body_class %}list{% endblock %}

{% set _content_title = 'Dashboard' %}
{% block page_title -%}{{ _content_title }}{%- endblock %}

{% block content_header %}
    <h1 class="title">{{ _content_title }}</h1>
{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table">
            <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.title }}</td>
                    <td>
                        {% if account.id in accountBalances|keys %}
                            {{ accountBalances[account.id].amount|number_format(2) }}
                        {% else %}
                            {{ include('@EasyAdmin/default/label_null.html.twig') }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Категории</h3>
    <hr style="margin-top: 0;">

    {% for category in categories %}
        <a href="{{ path('easyadmin', { action: 'new', entity: 'Transaction', categoryId: category.id }) }}" class="btn btn-{{ category.info.class }} thumbnail">
            <i class="fa fa-{{ category.icon }}"></i> {{ category.title }}
        </a>
    {% endfor %}
{% endblock %}
